<?xml version="1.0"?>
<!--
Web.config file for BarnMg.Web.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <system.web>
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
    <compilation>
      <assemblies />
    </compilation>
  </system.web>
  <appSettings>
    <add key="mongoConnect" value="mongodb://127.0.0.1/?safe=true" />
    <add key="swaggerBasePath" value="http://127.0.0.1:8080/" />
  </appSettings>
</configuration>