<?xml version="1.0"?>
<!--
Web.config file for BarnMg.Web.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <system.web>
    <httpHandlers>
      <add path="*.woff" type="System.Web.StaticFileHandler, System.Web" verb="*" />
      <add path="*.ttf" type="System.Web.StaticFileHandler, System.Web" verb="*" />
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
    <compilation>
      <assemblies />
    </compilation>
  </system.web>
  <appSettings>
    <add key="mongoConnect" value="mongodb://127.0.0.1/?safe=true" />
    <add key="authConnect" value="Server=127.0.0.1;Port=3306;Database=webstarter;Uid=root;Pwd=;Convert Zero Datetime=true;Allow User Variables=True;" />
    <add key="swaggerBasePath" value="http://127.0.0.1:8080/" />
    <add key="oauth.RedirectUrl" value="http://localhost:8080/" />
    <!-- Should match with OAuth2's App Callback URL -->
    <add key="oauth.CallbackUrl" value="http://localhost:8080/auth/{0}" />
    <add key="oauth.facebook.Permissions" value="email,public_profile,user_friends" />
    <add key="oauth.facebook.AppId" value="1504014576524954" />
    <add key="oauth.facebook.AppSecret" value="e297df78abf1bbe75cc90b1bc6af50b4" />
  </appSettings>
</configuration>